<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Assignement Week 5</title>
</head>
<body>
    <div class="container">
            <h1 align="center">Api Assignement Week 5 </h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse amet cum sapiente iure, molestiae laboriosam debitis rem nesciunt consectetur eligendi id at. Quam eligendi aliquam similique blanditiis qui doloremque iusto?
                Totam, illum exercitationem ex fuga rem quo similique aliquid? Debitis error veritatis fugit consequuntur minima, porro exercitationem mollitia optio nesciunt voluptas officiis nulla facere ipsum iste voluptatibus, harum voluptates! Doloribus.
                Dicta, delectus voluptate ad alias totam earum dolore aliquam sint provident consectetur excepturi, exercitationem neque doloribus laborum nemo quia voluptatum quis. Nisi ipsam exercitationem porro tenetur sit dolor dignissimos minus!
                Voluptas numquam libero dicta rem vero, quam temporibus illo deleniti corporis eos sunt qui tempore laboriosam. Aliquid earum illo dolorem labore, error, explicabo reiciendis maxime soluta numquam nobis veritatis nulla!
                Voluptatum quia itaque assumenda iste at sunt a molestias dolores, quisquam minima voluptate qui optio, officiis dolor rerum in beatae rem, quam enim harum aut iusto. Perferendis non labore hic!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, temporibus ipsum quas fuga, similique illo eum, facilis neque repellendus voluptas quam pariatur! Incidunt in odio cupiditate eius animi ad dignissimos?
            </p>
    </div>
</body>
<style>
    body{
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(185, 26, 39);
    }
    .container{
        margin: 0px;
        text-align: justify;
        color:white;
        box-shadow: 5px 4px 3px;
    }
    p{
        padding:10px;
    }
</style>
</html>